<launch>
  <arg name="drone_id" default="0"/>
  <arg name="ground_ip" default="192.168.1.10"/>
  <arg name="cmd_listen_port" default="18000"/>
  <arg name="ground_port" default="18100"/>
  <arg name="odom_topic" default="/mocap/odom"/>
  <arg name="start_mocap_udp_receiver" default="true"/>
  <arg name="mocap_listen_ip" default="0.0.0.0"/>
  <arg name="mocap_listen_port" default="5005"/>
  <arg name="mocap_tracker" default=""/>
  <arg name="mocap_frame_id" default="world"/>
  <arg name="px4ctrl_cmd_topic" default="/tracker_cmd/position_cmd"/>
  <arg name="trigger_topic" default="/traj_start_trigger"/>
  <arg name="odom_send_hz" default="10.0"/>
  <arg name="start_mavros" default="false"/>
  <arg name="start_px4ctrl" default="true"/>
  <arg name="fcu_url" default="/dev/ttyTHS1:921600"/>
  <arg name="gcs_url" default=""/>
  <arg name="ctrl_param_file" default="$(find px4ctrl)/config/ctrl_param_fpv.yaml"/>

  <include if="$(arg start_mavros)" file="$(find mavros)/launch/px4.launch">
    <arg name="fcu_url" value="$(arg fcu_url)"/>
    <arg name="gcs_url" value="$(arg gcs_url)"/>
  </include>

  <node if="$(arg start_mocap_udp_receiver)" pkg="real_uav_bridge"
        type="mocap_udp_odom_receiver.py" name="mocap_udp_odom_receiver"
        output="screen">
    <param name="listen_ip" value="$(arg mocap_listen_ip)"/>
    <param name="listen_port" value="$(arg mocap_listen_port)"/>
    <param name="tracker_name" value="$(arg mocap_tracker)"/>
    <param name="odom_topic" value="$(arg odom_topic)"/>
    <param name="frame_id" value="$(arg mocap_frame_id)"/>
    <param name="child_frame_id" value="drone$(arg drone_id)"/>
  </node>

  <node pkg="real_uav_bridge" type="cmd_odom_onboard_bridge"
        name="position_cmd_receiver_$(arg drone_id)" output="screen">
    <param name="ground_ip" value="$(arg ground_ip)"/>
    <param name="ground_port" value="$(arg ground_port)"/>
    <param name="cmd_listen_port" value="$(arg cmd_listen_port)"/>
    <param name="cmd_topic" value="$(arg px4ctrl_cmd_topic)"/>
    <param name="odom_topic" value="$(arg odom_topic)"/>
    <param name="trigger_topic" value="$(arg trigger_topic)"/>
    <param name="odom_send_hz" value="$(arg odom_send_hz)"/>
  </node>

  <node if="$(arg start_px4ctrl)" pkg="px4ctrl" type="px4ctrl_node"
        name="px4ctrl" output="screen">
    <rosparam command="load" file="$(arg ctrl_param_file)"/>
    <remap from="~odom" to="$(arg odom_topic)"/>
    <remap from="~cmd" to="$(arg px4ctrl_cmd_topic)"/>
  </node>
</launch>
